nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#pjesa1{
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
    
}

nav img{
    width: 150px;
    
}

li{
   list-style: none;
   margin: 10px;
   flex-wrap: wrap;
   margin-bottom: 10px;
   font-size: 40px;
   

}

ul{
    display: flex;
    padding-left: 20px;
    
    
}
 
.nav li{
    list-style: non;
}

